/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

.p-estrella {
    color: #ffd700;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    background-image: url(betiafondo.jpg);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    color: #fff;
    padding: 10px;
    z-index: 999;
    transition: background-color .7s ease-in-out; 
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

#navbar ul {
    list-style-type: none;
    display: flex;
}

#navbar ul li {
    margin-left: 50px;
    align-items: center;
}

#navbar ul li a {
    color: #fff;
    text-decoration: none;
    transition: color .4s ease-in-out;
}

#navbar ul li a:hover {
    color: #f00;
}

.img-logo--nav {
    width: 35px;
    height: 35px; 
}

section {
    padding: 50px;
}

section #artist h2 {
    display: inline;
}  

#banner {
    color: #fff;
    font-size: 30px; 
    text-align: center;
    padding-bottom: 80vh; 
    transition: color .4s ease-in-out;
}  

#banner :hover {
    color: #f00;
}

#artists {
    background-color: #000;
    color: #f00;
}

.artist {
    margin-bottom: 30px;
    border: 1px solid #f00;
    padding: 10px;
    border-radius: 5px;
}

.artist img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}

#catalog {
    background-color: #000;
    color: #f00;
}

#catalog ul {
    list-style-type: none;
    padding: 0;
}

#catalog ul li {
    margin-bottom: 10px;
    border-bottom: 1px solid #f00;
    padding-bottom: 5px;
}

#contact {
    background-color: #000;
    color: #f00;
}

.contact-form {
    max-width: 400px;
    margin: 0 auto;
}

.contact-form h3 {
    margin-bottom: 10px;
}
 

.contact-form form textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

.contact-form form button {
    padding: 10px 20px;
    background-color: #f00;
    color: #fff;
    border: none;
    cursor: pointer;
}

.contact-form form input, .contact-form form textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

.contact-form form button:hover {
    background-color: #d50000;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
}
 
@media screen and (max-width: 650px) {
  /* Estilos específicos para pantallas pequeñas */

  .body-container {
    width: 90%;
    margin: 0 auto;
  }
  
  #inavbar {
    background-color: #f00
  } 
}
